html {
    box-sizing: border-box;
}

body {
    font-family:  'Ubuntu', 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #201b2d;
    margin: 0 auto;
    padding: 0 15px;
}

h1, span {
    font-family:  'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 30px;
    margin: 0;
    letter-spacing: 0.1em;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;  
}

/*header*/

.header {
    background: rgba(77,188,252,1);
    background: -moz-linear-gradient(left, rgba(77,188,252,1) 0%, rgba(55,145,218,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(77,188,252,1)), color-stop(100%, rgba(55,145,218,1)));
    background: -webkit-linear-gradient(left, rgba(77,188,252,1) 0%, rgba(55,145,218,1) 100%);
    background: -o-linear-gradient(left, rgba(77,188,252,1) 0%, rgba(55,145,218,1) 100%);
    background: -ms-linear-gradient(left, rgba(77,188,252,1) 0%, rgba(55,145,218,1) 100%);
    background: linear-gradient(to right, rgba(77,188,252,1) 0%, rgba(55,145,218,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dbcfc', endColorstr='#3791da', GradientType=1 );
    color: #fff;
}

.logo {
    padding-top: 62px;
}

.offer {
    width: 565px;
}

span {
    font-size: 50px;
}

.offer p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 400px;
    padding: 45px 0 0 13px;
    margin: 0;
}

.btn,
.btn-order {
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 900;
    color: #201b2d;
    width: 220px;
    padding: 20px 0;
    background-color: #ffd429;
    margin-top: 45px; 
    text-decoration: none;    
    margin-right: 0;
}

.travel {
    padding-bottom: 100px;
}

.header-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*future*/

.future {
    background-color: #fff;
}

.future-title {
    padding-top: 107px;
}

.scroll {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.advantage {
    width: 289px;
    padding-top: 70px;
    text-align: center;
    padding-bottom: 120px;
}

.advantage-title {
    font-size: 19px;
    font-weight: bold;
    margin: 27px 0 0 0;
}

.advantage p{
    font-size: 15px;
    margin: 15px 0 0 0;
    padding: 0 10px;
}

/*order*/

.order {
    background-color: #ecf3f8;
}

.order-title {
    padding-top: 100px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 63px 0 100px 0;
}

.cells {
    width: 340px;
    height: 45px;
    font-size: 15px;
    margin-top: 15px;
    border-color: #bbb;
    border-radius: 4px;
}

.cells:nth-child(1) {
    margin: 0;
}

.btn-order {
    width: 340px;
}

/*footer*/

.footer {
    background-color: #164d7a;
    padding: 60px 0;
}

.text-footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-align: center;
    
    color: #fff;
    margin: 0;
}